.slider {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 468px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.slider a.previousButton,
.slider a.nextButton {
  font-size: 18px;
  line-height: 0;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 1;
  background-color: rgba(256, 256, 256, 0.6);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slider a.previousButton polygon,
.slider a.nextButton polygon {
  fill: #003589;
}

.slider a.previousButton:not(.disabled):hover,
.slider a.nextButton:not(.disabled):hover {
  -webkit-transform: translateY(-50%) scale(1.25);
  transform: translateY(-50%) scale(1.25);
  cursor: pointer;
}

.slider a.previousButton {
  left: 20px;
}

.slider a.nextButton {
  right: 20px;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.slide.hidden {
  visibility: hidden;
}

.slide.previous {
  left: -100%;
}

.slide.current {
  left: 0;
}

.slide.next {
  left: 100%;
}

.slide.animateIn,
.slide.animateOut {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.slide.animateIn.previous,
.slide.animateIn.next {
  left: 0;
  visibility: visible;
}

.slide.animateOut.previous {
  left: 100%;
}

.slide.animateOut.next {
  left: -100%;
}

@media screen and (max-width: 770px) {
  .slider {
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
  }

  .slider .slide {
    background-size: contain;
    background-position: center;
  }
}
